PIMLICO_API_KEY=
PIMLICO_CHAIN=sepolia
PIMLICO_BUNDLER_URL=
PIMLICO_PAYMASTER_URL=
PIMLICO_SPONSORSHIP_POLICY_ID=
WEB3AUTH_CLIENT_ID=
WEB3AUTH_CLIENT_SECRET=
WEB3AUTH_NETWORK=sapphire_devnet
SEPOLIA_RPC_URL=
